.App {
  text-align: center;
}

#root {
  min-width: 576px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 100%;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin:auto ;
  padding: 35px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0085ad;
  width: 100%;
  border: 0;
  padding: 6.7px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #3ebff5;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #003c71;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.bodyLogin {
  background: #0085ad !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #003c71, rgb(156, 206, 255)) !important;
  background: -moz-linear-gradient(right, #003c71, rgb(156, 206, 255)) !important;
  background: -o-linear-gradient(right, #003c71, rgb(156, 206, 255)) !important;
  background: linear-gradient(to left, #003c71, rgb(156, 206, 255))!important;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh !important;   
    
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #003c71 !important;
    border-color: #003c71 !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(6, 243, 247, 0.5) !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3ebff5 !important;
    border-color: #3ebff5 !important;
}
:root {
    --primary: #3ebff5 !important;
    --green: #3ebff5 !important;
}

table {
  overflow-x:scroll !important;
  overflow-y: hidden; 
  table-layout: fixed;
}

td {
  /* overflow-x:auto; */
  word-wrap: break-word;
  
}

table.table-fit {
  width: auto !important;
  table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
  width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
  width: auto !important;
}

.sortable {
  cursor: pointer;
}

.inputBlock {
  display: inline-block;
  padding: 16px 17px;

}

.inputBlock-line {
  padding: 16px 17px;
}

.freebirdFormviewerViewItemsItemItemTitle {
  color: #000;
  font-size: 20px;
  line-height: 135%;
  width: 100%;
  word-break: break-word;
  padding-bottom: 16px;
}

.rounded mx-auto d-block {
  max-width: 100%;
  height: auto;

}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.form-control {
  max-width: 100% !important;
  min-width: auto !important;
}

.inputL  {
  border: none;
  border-bottom: 2px solid #c1c1c1;
  border-radius: 0;
}
.inputL:hover {
  border-bottom: 2px solid #3a52cb;
}

.inputL:active {
  outline: 0;
}

.inputL:focus {

  border-bottom: 2px solid #9faef8;

  box-shadow: none;
}

.spanFont {
  font-size: 14px;
  color: #828282;
} 

.inputWidth {
  max-width: auto !important;
}

.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  border: solid #f8f9fa;
  border-width: .2rem 0 0;
}

@media only screen and (min-width: 375px){
  .bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}
}

.block-qrcode {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  padding: 10px;
}

.qrcode-item {
  width: 100%;
  margin: 0 !important;

}

.page-link:focus {
  box-shadow: none
}

#mySidenav {
  width: 280px;
}
#main {
  transition: margin-left 0.5s;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  word-break: break-word;
  -ms-overflow-style: none;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openNav {
  color: #f1f1f1;
  cursor: pointer;
}
.text-email2 {
  font-size: 18px;
  color: #f1f1f1;
  margin-bottom: 25px;
}
.text-email3 {
  margin-bottom: 20px;
  font-size: 90px;
  color: #f1f1f1;
}
.text-logout {
  cursor: pointer;
  transition: 0.7s ease;
  display: block;
  color: #818181;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 20px;
}
.text-logout:hover:not(.active) {
  transition: 0.7s ease;
  border-radius: 20px;
  background-color: #a2cfff33;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}
.text-ilogout {
  font-size: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.font-qr-code {
  font-size: 9.5px;
}








